@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9goitm');
  src:  url('../fonts/icomoon.eot?9goitm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9goitm') format('truetype'),
    url('../fonts/icomoon.woff?9goitm') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right-double:before {
  content: "\e902";
}
.icon-dollar-tag:before {
  content: "\e908";
}
.icon-engineer:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90e";
}
.icon-home-1:before {
  content: "\e90f";
}
.icon-prize-1:before {
  content: "\e915";
}
.icon-prize-box:before {
  content: "\e916";
}
.icon-right-arrow:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e922";
}
.icon-team:before {
  content: "\e928";
}
.icon-team-1:before {
  content: "\e929";
}
